@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  body {
    @apply bg-white dark:bg-zinc-950 text-zinc-900 dark:text-zinc-100 transition-colors;
  }
}
